$primary: rgb(243, 223, 0);
$on-primary: rgb(0, 0, 0);
$secondary: rgb(255, 252, 228);
$on-secondary: rgb(0, 0, 0);
$background: rgb(254, 255, 249);
$on-background: rgb(9, 11, 2);
$font-family: "Inter", sans-serif;

body {
    margin: 0;
}

main {
    width: 100vw;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}