:root {
    --primary: red;
    --on-primary: black;
    --background: white;
    --on-background: black;
    --surface: white;
    --on-surface: black;
}

body {
    margin: 0;
}

main {
    width: 100vw;
}