@use "../../../styles/theme.scss";

.container {
    display: inline-block;
    position: relative;
    width: 300px;
    height: fit-content;
}

@mixin input-styles {
    border: none;
    background-color: theme.$surface;
    outline: none;
    box-sizing: border-box;
    padding: 16px 18px;
    width: 100%;
    height: 100%;
}

.input-text {
    @include input-styles();
    @include theme.font-label-small();
    border: 1px solid theme.$outline;
    border-radius: 12px;
}

.input-search {
    @include input-styles();
    @include theme.font-label-small();
    border-radius: 100px;
    box-shadow: 0 5px 5px rgba(black, 0.3);
}

.input-number {
    @include input-styles();
    @include theme.font-label-small();
    border: 1px solid theme.$outline;
    border-radius: 12px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield; // Firefox
}

.label-span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    padding: 0 4px;
    border-radius: 6px;
    background-color: theme.$surface;
    pointer-events: none;

    transition: 200ms;

    &[data-is-focus=true] {
        top: 0;
        transform: translateY(-50%);
    }

    z-index: 1;
}