.map-top-overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 0 16px;
    box-sizing: border-box;

    background: linear-gradient(rgba(0, 0, 0, 0.15), transparent);
}

.map-bottom-overlay {
    $map-attribution-height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    position: absolute;
    right: 16px;
    bottom: calc(16px + $map-attribution-height);
    z-index: 100;
}