@use "../../../styles/theme";

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.2);
    z-index: 9999;
}

.drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    height: 100%;
    padding: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-sizing: border-box;
    background-color: theme.$surface;

    transition: 300ms transform;
    &[data-is-open=false] {
        transform: translateX(-100%);
    }
    &[data-is-open=true] {
        transform: translateX(0%);
    }
}