.container {
    position: absolute;
    display: flex;
    bottom: 16px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 16px);
    overflow: hidden;
    z-index: 10000;
    pointer-events: none;
}